<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>大数据智能加工系统</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/images/favicon.png}">
    <!-- Custom Stylesheet -->
    <link th:href="@{/plugins/toastr/css/toastr.min.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>

<body>

<div th:replace="~{commons/commons::placeholder}"></div>


<!--**********************************
    Main wrapper start
***********************************-->
<div id="main-wrapper">


    <div th:replace="~{commons/commons::nav-header}"></div>
    <div th:replace="~{commons/commons::header}"></div>
    <div th:replace="~{commons/commons::sidebar}"></div>



    <!--**********************************
        Content body start
    ***********************************-->
    <div class="content-body">

        <div class="row page-titles mx-0">
            <div class="col p-md-0">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a th:href="@{/data/clear}"> >返回上一级</a></li>
                </ol>
            </div>
        </div>
        <!-- row -->

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">类型处理</h4>
                            <table style="width: 100% !important; height: 250px !important;" class="table">
                                <tr>
                                    <td><label><b>表：</b></label></td>
                                    <td>
                                        <select class="form-control" id="table">
                                            <option>-------请选择表-------</option>
                                            <option th:value="${name}" th:each="name : ${tableName}">
                                                [[${name}]]
                                            </option>
                                        </select>
                                    </td>
                                </tr>

                                <tr>
                                    <td>缺失值详情</td>

                                    <td>
                                        <table class="table">
                                            <tr>
                                                <th>字段</th>
                                                <th>数量</th>
                                                <th>缺失值</th>
                                            </tr>

                                            <tbody id="field_body"></tbody>
                                        </table>
                                    </td>
                                </tr>

                                <tr>
                                    <td><p>字段查询</p></td>

                                    <td>
                                        <input type="text" name="field" class="form-control" id="field_search_content">
                                        <button type="button" class="btn mb-1 btn-rounded btn-warning form-control" id="field_search"><p style="color: white">查询</p></button>
                                    </td>
                                </tr>
                            </table>

                            <table class="table" id="field_table">
                            </table>




                            <button type="button" class="btn mb-1 btn-rounded btn-outline-info" id="importBtn">添加空缺</button>
                            <a class="btn mb-1 btn-rounded btn-outline-light" th:href="@{/data/clear}">返回上一级</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- #/ container -->
</div>
<!--**********************************
    Content body end
***********************************-->

<!-- footer -->
<div th:replace="commons/commons::footer"></div>



</div>
<!--**********************************
    Main wrapper end
***********************************-->

<!--**********************************
    Scripts
***********************************-->
<script th:src="@{/plugins/common/common.min.js}"></script>
<script th:src="@{/js/custom.min.js}"></script>
<script th:src="@{/js/settings.js}"></script>
<script th:src="@{/js/gleek.js}"></script>
<script th:src="@{/js/styleSwitcher.js}"></script>


<script th:src="@{/plugins/jquery-validation/jquery.validate.min.js}"></script>
<!-- Toastr -->
<script th:src="@{/plugins/toastr/js/toastr.min.js}"></script>
<script th:src="@{/plugins/toastr/js/toastr.init.js}"></script>

</body>
<script>

    let ids = []
    $('#table').change(function() {
        $('#field_body').empty()

        $.ajax({
            url: '/clean/missing/row',
            type: 'post',
            dataType: 'json',
            data: {
                tableName: $('#table option:selected').val()
            },
            success: function(data) {
                if(data.status == 200) {
                    console.log(data.list)
                    let tbody = document.getElementById('field_body')
                    // 目标表字段
                    table_field = data.list


                    for(let i = 0; i < table_field.length; i++) {
                        let tr = document.createElement('tr')

                        let td1 = document.createElement('td')
                        tr.append(td1)
                        td1.innerHTML = table_field[i].columnName

                        let td2 = document.createElement('td')
                        tr.append(td2)
                        td2.innerHTML = table_field[i].rowNumber

                        let td3 = document.createElement('td')
                        tr.append(td3)
                        td3.innerHTML = table_field[i].missingRowNumber

                        tbody.appendChild(tr)

                    }
                } else {

                }
            }
        })
    })


    $('#field_search').click(function(data) {
        let search_content = $('#field_search_content').val()
        let tableName = $('#table option:selected').val()

        console.log(tableName)
        console.log(search_content)

        if (search_content == null || search_content == '') {
            alert("请填写信息！")
            return;
        }

        $.ajax({
            url: '/clean/missing/row/list',
            type: 'post',
            dataType: 'json',
            data: {
                tableName: tableName,
                search: search_content
            },
            success: function(data) {
                if (data.status == 200) {

                    console.log(data.list)
                    field = data.list

                    ids = []
                    for(let i = 0; i <field.length; i++) {
                        ids.push(field[i].id)
                    }


                    let body = $('#field_table')

                    // 列名
                    let tr = document.createElement('tr')
                    let num = data.columnNames.length
                    if (num > 5) {
                        num = 5;
                    }
                    for(let i = 0; i < num; i++) {
                        let th = document.createElement('th')
                        th.innerHTML = data.columnNames[i]
                        tr.append(th)
                    }
                    let th = document.createElement('th')
                    th.innerHTML = '操作'
                    tr.append(th)
                    body.append(tr)
                    for(let i = 0; i < field.length; i++) {
                        let tr2 = document.createElement('tr')

                        for(let j = 0; j < num; j++) {
                            let td = document.createElement('td')
                            td.innerHTML = field[i][data.columnNames[j]]
                            tr2.append(td)
                        }
                        let td2 = document.createElement('td')
                        let input = document.createElement('input')
                        td2.append(input)
                        tr2.append(td2)
                        body.append(tr2)
                    }


                } else {

                }
            }
        })

    })

    $('#importBtn').click(function(data) {
        // 获取所有输入框的值
        let inputs = $('#field_table input')
        let field = $('#field_search_content').val()
        let tableName = $('#table option:selected').val()
        let values = []
        for(let i = 0; i < inputs.length; i++) {
            values.push(inputs[i].value)
        }

        console.log(values)

        $.ajax({
            url: '/clean/missing/row/handle',
            type: 'post',
            dataType: 'json',
            data: {
                id: JSON.stringify(ids),
                value: JSON.stringify(values),
                field: field,
                tableName: tableName
            },
            success: function(data) {
                if (data.status == 200) {
                    toastr.info("添加成功")
                }
            }
        })

    })
</script>
</html>