<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>大数据智能加工系统</title>
  <!-- Favicon icon -->
  <link rel="icon" type="image/png" sizes="16x16" th:href="@{/images/favicon.png}">
  <!-- Custom Stylesheet -->
  <link th:href="@{/plugins/tables/css/datatable/dataTables.bootstrap4.min.css}" rel="stylesheet">
  <link th:href="@{/plugins/toastr/css/toastr.min.css}" rel="stylesheet">
  <link th:href="@{/css/style.css}" rel="stylesheet">
</head>

<body>

<div th:replace="~{commons/commons::placeholder}"></div>


<!--**********************************
    Main wrapper start
***********************************-->
<div id="main-wrapper">


  <div th:replace="~{commons/commons::nav-header}"></div>
  <div th:replace="~{commons/commons::header}"></div>
  <div th:replace="~{commons/commons::sidebar}"></div>



  <!--**********************************
      Content body start
  ***********************************-->
  <div class="content-body">

    <div class="row page-titles mx-0">
      <div class="col p-md-0">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
          <li class="breadcrumb-item active"><a href="javascript:void(0)">Home</a></li>
        </ol>
      </div>
    </div>
    <!-- row -->

    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Data Table</h4>
              <div class="table-responsive">
                <table class="table table-striped table-bordered zero-configuration">
                  <thead>
                  <tr>
                    <th>NUM</th>
                    <th>TABLE_NAME</th>
                    <th>ENGINE</th>
                    <th>TABLE_ROWS</th>
                    <th>CREATE_TIME</th>
                    <th>AVG_ROW_LENGTH</th>
                    <th>OPERATION</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr th:each="map, index:${maps}">
                    <td th:text="${index.count}"></td>
                    <td th:text="${map.get('TABLE_NAME')}"></td>
                    <td th:text="${map.get('ENGINE')}"></td>
                    <td th:text="${map.get('TABLE_ROWS')}"></td>
                    <td th:text="${map.get('CREATE_TIME')}"></td>
                    <td th:text="${map.get('AVG_ROW_LENGTH')}"></td>
                    <td>
                      <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#change" th:data-name="${map.get('TABLE_NAME')}">查看</button>
                      <button type="button" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#delete" th:data-name="${map.get('TABLE_NAME')}">删除</button>
                      <button type="button" class="btn btn-info btn-xs" data-toggle="modal" data-target="#foreign" th:data-name="${map.get('TABLE_NAME')}">加键</button>
                      <a target="_blank" class="btn btn-info btn-xs" th:href="@{/table/browse(tableName = ${map.get('TABLE_NAME')})}">浏览</a>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- #/ container -->
  </div>

  <div class="modal fade" id="change" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog"  role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">查看与更改</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <table class="table">
              <thead>
                <th>列名</th>
                <th>允许为空</th>
                <th>数据类型</th>
                <th>是否主键</th>
                <th>注释</th>
              </thead>
              <tbody class="change_tbody">

              </tbody>
            </table>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Send message</button>
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="foreign" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">增加外键</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <input type="hidden" id="foreign_text">
          <div class="container-fluid">
            <form>
              <table class="table">
                <thead>
                <th>列名</th>
                <th>外键字段名</th>
                <th>连接表名</th>
                <th>连接字段</th>
                </thead>
                <tbody class="foreign_tbody">
                <tr id="foreign_tr">
                  <td id="foreign_td1"></td>
                  <td id="foreign_td4">
                    <select>
                      <option>-----请选择字段------</option>
                    </select>
                  </td>
                  <td id="foreign_td2">
                    <select>
                      <option>----请选择表----</option>
                    </select>
                  </td>
                  <td id="foreign_td3">
                    <select>
                      <option>----请选择字段----</option>
                    </select>
                  </td>
                </tr>

                </tbody>
              </table>
            </form>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="foreign_submit_btn">Send message</button>
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="delete">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">删除</h5>
          <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p></p>
        </div>
        <input id="message" type="hidden">
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">再想想</button>
          <button type="button" class="btn btn-primary" id="deleteBtn">删除</button>
        </div>
      </div>
    </div>
  </div>
  <!--**********************************
      Content body end
  ***********************************-->

  <!-- footer -->
  <div th:replace="commons/commons::footer"></div>



</div>
<!--**********************************
    Main wrapper end
***********************************-->

<!--**********************************
    Scripts
***********************************-->
<script th:src="@{/plugins/common/common.min.js}"></script>
<script th:src="@{/js/custom.min.js}"></script>
<script th:src="@{/js/settings.js}"></script>
<script th:src="@{/js/gleek.js}"></script>
<script th:src="@{/js/styleSwitcher.js}"></script>

<script th:src="@{/plugins/tables/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/plugins/jquery-validation/jquery.validate.min.js}"></script>
<script th:src="@{/plugins/tables/js/datatable/dataTables.bootstrap4.min.js}"></script>
<script th:src="@{/plugins/tables/js/datatable-init/datatable-basic.min.js}"></script>

<script th:src="@{/plugins/toastr/js/toastr.min.js}"></script>
<script th:src="@{/plugins/toastr/js/toastr.init.js}"></script>

<script>

  let tableName;
  let columnName;
  // 获取所有表名
  $.ajax({
    url: '/data/origin/table/name',
    type: 'post',
    dataType: 'json',
    success: function(data) {
      if (data.status == 200) {
        tableName = data.tableName;
      }

    }
  })

  $('#foreign').on('show.bs.modal', function(event) {
    let tr = $('.foreign_tr')
    $('#foreign_text').val($(event.relatedTarget).data('name'))

    $('#foreign_td1').text($(event.relatedTarget).data('name'))
    // 连接外键的表
    let select = $('#foreign_td2 select')
    select.className = 'foreign_select'
    for (let i = 0; i < tableName.length; i++) {
      let option = '<option value="' + tableName[i] + '">' + tableName[i] + '</option>'
      select.append(option)
    }
    $('.foreign_tbody').append(tr)

    $.ajax({
      url: '/data/column',
      type: 'post',
      dataType: 'json',
      data: {
        tableName: $(event.relatedTarget).data('name')
      },
      success: function(data) {
        if (data.status == 200) {
          let select = $('#foreign_td4 select')
          for (let i = 0; i < data.columnName.length; i++) {
            let option = '<option value="' + data.columnName[i] + '">' + data.columnName[i] + '</option>'
            select.append(option)
          }
        }
      }
    })
  })

  $('#foreign_submit_btn').click(function(event) {
    $.ajax({
      url: '/data/origin/alter',
      type: 'post',
      dataType: 'json',
      data: {
        table: $('#foreign_text').val(),
        field: $('#foreign_td4 select option:selected').val(),
        foreignTable: $('#foreign_td2 select option:selected').val(),
        foreignField: $('#foreign_td3 select option:selected').val()
      },
      success: function(data) {
        if (data.status == 200) {
          toastr.info('添加成功')
        }

      }
    })
  })

  $('#foreign_td2 select').change(function() {
    console.log('11111')
    console.log($('#foreign_td2 select option:selected').val())
    $.ajax({
      url: '/data/origin/table/column/primary',
      type: 'post',
      dataType: 'json',
      data: {
        tableName: $('#foreign_td2 select option:selected').val()
      },
      success: function(data) {
        if(data.status == 200) {
          let select = $('#foreign_td3 select')
          for(let i = 0; i < data.columnName.length; i++) {
            let option = '<option value="' + data.columnName[i] + '">' + data.columnName[i] + '</option>'
            select.append(option)
          }
        }
      }

    })

  })

  $('#change').on('show.bs.modal', function (event) {
    let tbody = $('.change_tbody')
    tbody.empty()
    console.log($(event.relatedTarget).data('name'))
    $.ajax({
      url: '/data/origin/info',
      type: 'post',
      dataType: 'json',
      data: {
        tableName: $(event.relatedTarget).data('name')
      },
      success: function(data) {
        if (data.status == 200) {
          let tbody = document.getElementsByClassName('change_tbody')
          console.log(data.infos)
          for (let i = 0; i< data.infos.length; i++) {
            let tr = document.createElement('tr')
            let column_name = document.createElement('td')
            tr.append(column_name)
            column_name.innerText = data.infos[i].COLUMN_NAME
            $('.change_tbody').append(tr)
            let is_nullable = document.createElement('td')
            tr.append(is_nullable)
            is_nullable.innerText = data.infos[i].IS_NULLABLE

            let data_type = document.createElement('td')
            tr.append(data_type)
            data_type.innerText = data.infos[i].DATA_TYPE

            let column_key = document.createElement('td')
            tr.append(column_key)
            column_key.innerText = data.infos[i].COLUMN_KEY

            let column_comment = document.createElement('td')
            tr.append(column_comment)
            column_comment.innerText = data.infos[i].COLUMN_COMMENT
          }
        }
      }
    })
  })

  $('#delete').on('show.bs.modal', function (event) {

    $('.modal-body p').html('真的要删除' + $(event.relatedTarget).data('name') + '吗？')
    $('#message').val($(event.relatedTarget).data('name'))
  })

  $('#deleteBtn').click(function (event) {
    $.ajax({
      url: '/data/origin/delete',
      type: 'post',
      dataType: 'json',
      data: {
        tableName: $('#message').val()
      },
      success: function (data) {
        if (data.status) {
          window.location = "/data/origin/table"
        }
      }
    })
  })

</script>

</body>

</html>