<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table cellpadding="0" cellspacing="1" border="1">
        <tr>
            <td>序号</td>
            <td>主从表关联ID</td>
            <td>账号</td>
            <td>调查单位名称</td>
            <td>所属地域</td>
            <td>数据年份</td>
            <td>数据状态</td>
            <td>撤销原因</td>
            <td>管理员审核状态</td>
            <td>错误数量</td>
            <td>警告数量</td>
            <td>错警因</td>
        </tr>

        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>年</td>
            <td></td>
            <td></td>
            <td></td>
            <td>个</td>
            <td>个</td>
            <td></td>
        </tr>

        <tr>
            <td>sid</td>
            <td>sRecordID</td>
            <td>suername</td>
            <td>sname</td>
            <td>sbelongwhere</td>
            <td>syear</td>
            <td>sstate</td>
            <td>swhy</td>
            <td>smancheck</td>
            <td>serror</td>
            <td>salert</td>
            <td>salertdemo</td>
        </tr>

        <tr>
            <td>1</td>
            <td>14</td>
            <td>tjrj13012008</td>
            <td>河北软件产业基地（石家庄）</td>
            <td>130196</td>
            <td>2018</td>
            <td>en</td>
            <td></td>
            <td>en</td>
            <td>0</td>
            <td>0</td>
        </tr>
    </table>

${data}
</body>
</html>