<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>大数据智能加工系统</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/images/favicon.png}">
    <!-- Custom Stylesheet -->
    <link th:href="@{/plugins/toastr/css/toastr.min.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/css/dropzone.min.css}" rel="stylesheet">
    <link th:href="@{/css/basic.min.css}" rel="stylesheet">

    <style>
        .dropzone {
            border: 2px dashed #7571f9;
            border-radius: 5px;
            background: white;
        }

    </style>
</head>

<body>

<div th:replace="~{commons/commons::placeholder}"></div>


<!--**********************************
    Main wrapper start
***********************************-->
<div id="main-wrapper">


    <div th:replace="~{commons/commons::nav-header}"></div>
    <div th:replace="~{commons/commons::header}"></div>
    <div th:replace="~{commons/commons::sidebar}"></div>



    <!--**********************************
        Content body start
    ***********************************-->
    <div class="content-body">

        <div class="row page-titles mx-0">
            <div class="col p-md-0">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a th:href="@{/data/clear}"> >返回上一级</a></li>
                </ol>
            </div>
        </div>
        <!-- row -->

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">文件导入</h4>
                            <form th:action="@{/table/file-upload}" class="dropzone needsclick dz-clickable" id="demo-upload">

                                <div class="dz-message needsclick">
                                    Drop files here or click to upload.<br>
                                    <span class="note needsclick">(This is just a demo dropzone. Selected files are <strong>not</strong> actually uploaded.)</span>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- #/ container -->
</div>
<!--**********************************
    Content body end
***********************************-->

<!-- footer -->
<div th:replace="commons/commons::footer"></div>



</div>
<!--**********************************
    Main wrapper end
***********************************-->

<!--**********************************
    Scripts
***********************************-->
<script th:src="@{/plugins/common/common.min.js}"></script>
<script th:src="@{/js/custom.min.js}"></script>
<script th:src="@{/js/settings.js}"></script>
<script th:src="@{/js/gleek.js}"></script>
<script th:src="@{/js/styleSwitcher.js}"></script>
<script th:src="@{/js/dropzone.min.js}"></script>



<script th:src="@{/plugins/jquery-validation/jquery.validate.min.js}"></script>

<!-- Toastr -->
<script th:src="@{/plugins/toastr/js/toastr.min.js}"></script>
<script th:src="@{/plugins/toastr/js/toastr.init.js}"></script>
<script>


</script>


</body>
</html>